
<mat-sidenav-container class="sidenav-container topo">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon class="icon-cartorio">account_balance</mat-icon>
      <span>Pesquise Cartório</span>
      <a class="menu">
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button>Home</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button>Cartórios</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button>Serviços</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button>Contato</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button>Calculadora</button>
      </a>  
    </mat-toolbar>    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
