
<mat-sidenav-container class="sidenav-container topo">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon class="icon-cartorio">account_balance</mat-icon>
      <span class="Pesquise">Pesquise Cartório</span>
      <a class="menu">
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button routerLink="home">Home</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button routerLink="cartorios">Cartórios</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button routerLink="servicos">Serviços</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button routerLink="contato">Contato</button>
        <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button routerLink="calculadora">Calculadora</button>
      </a>  
    </mat-toolbar>    
    <!-- Add Content Here -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
